<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login - Geese AS</title>

</head>
<body>
<div class="login-box">
    <h1>> SYSTEM ACCESS</h1>

    <div th:if="${error}" class="error" th:text="${error}"></div>

    <form th:action="@{/login}" method="post">
        <input type="text" name="username" placeholder="USERNAME" required autofocus autocomplete="off">
        <input type="password" name="password" placeholder="PASSWORD" required autocomplete="off">
        <button type="submit">> AUTHENTICATE</button>
    </form>
</div>
</body>
</html>